<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>掲示板</title>
  </head>
  <body>
    <form action="">
      <label for="poster-name">投稿者名</label
      ><input type="text" id="poster-name" name="name" />
      <label for="post-content">投稿内容</label
      ><textarea id="post-content" name="content"></textarea>
    </form>

    <div th:each="article: ${articles}">
      投稿者名：<span th:text="${article.name}"></span>
      <br />
      投稿内容：<br />
      <pre th:text="${article.content}"></pre>
      <div th:each="comment : ${article.comments}">
        コメント者名：<span th:text="${comment.name}"></span><br />
        コメント内容：<br />
        <pre th:text="${comment.content}"></pre>
      </div>
      <button>記事削除</button>
    </div>
  </body>
</html>
